/* Core styles */
body { 
    background-color: #0F5753;
}


/*header-navigation__items Music*/
.header-navigation__item.music {
    background-color: #1A4245;
}

.header-navigation__item-control__kalta {
    width: 25px;
}

.header-navigation__item-control__uzun {
    width: 35px;
}





/* Main section styles */
.main-section {
    display: inline-block;
    width: 60%;
    box-sizing: border-box;
    float: left;
}


.main-section__div {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%; 
    margin-left: 40px;
}

.main-section__div p, .disnep-kanal {
    cursor: pointer;
}

.qongiz {
    display: inline-block;
    position: absolute;
    width: 720px;
    height: 360px;
}

.main-section__div-span__group-1 {
    display: inline-block;
    position: relative;
    width: 150px;
    height: 70px;
    top: 10px;
    left: 50px;
}

.main-section__div-span__group-1__p-1 {
    display: inline-block;
    position: absolute;
    width: 85px;
    height: 30px;
    padding-top: 10px;
    background-color: #F59300;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
}

.main-section__div-span__group-1__p-2 {
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 30px;
    border-radius: 50%;
    background-color: #F59300;
    left: 98px;
    top: 15px;
}

.main-section__div-span__group-1__p-3 {
    display: inline-block;
    position: absolute;
    height: 8px;
    width: 16px;
    border-radius: 50%;
    background-color: #F59300;
    left: 85px;
    top: 38px;
}

.main-section__div-span__group-1__p-4 {
    display: inline-block;
    position: absolute;
    height: 8px;
    width: 16px;
    border-radius: 50%;
    background-color: #F59300;
    left: 130px;
    top: 44px;
}

.main-section__div-span__group-2 {
    display: block;
    position: relative;
    left: 15px;
    color: white;
    margin-top: -10px;
}

.main-section__div-span__group-2__p-1 {
    font-size: 25px;
    font-weight: 200;
    margin-top: 90px;
}

.main-section__div-span__group-2__p-1 + p {
    font-size: 22px;
    margin-top: 45px;
}

.main-section__div-span__group-2__p-1 + p span {
    color: #F59300;
} 

.main-section__div-span__group-2__span > p {
    display: inline-block;
}

.main-section__div-span__group-2__span__p-1 {
    margin-right: 30px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 200;
}

.main-section__div-span__group-2__span__p-1 + p {
    font-size: 18px;
    color: #a57a7a;
}

.disnep-kanal {
    width: 25%;
    display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 530px;
}


/* Aside section styles */
.aside {
    display: inline-block;
    position: relative;
    width: 28%;
    box-sizing: border-box;
    height: 360px;
    background-color: #B7CDCB;
    margin-left: 100px;
    text-align: center;
}

.aside-p__1 {
    font-size: 40px;
    margin-top: 10px;
}

.aside-p__2 {
    font-size: 30px;
    color: #0C247A;
    margin-top: -25px;
}

.aside-p__3 {
    color: #101B40;
    font-size: 30px;
    margin-top: -5px;

}

.aside-p__4 {
    width: 100px;
}

.aside-p__5 {
    color: #1C5356;
    font-size: 40px;
    margin-top: -10px;
}








/*  FOOTER SECTION*/
.footer {
    margin-top: 2000px;
    margin-bottom: 50px;
}

.tortburchak {
    width: 100%;
    height: 25px;
    background-color: #5bded8;
}

.kichik-chegara {
    width: 100% ;
    height: 5px;
    background-color: #38b3ad;
    position: relative;
    top:10px;
}

.katta-chegara {
    position: relative;
    background-color: #029c94;
    width: 100%;
    height: 15px;
    top: 10px;
}

.footer-background {
    width: 100%;
    height: 180px;
    background-color: #00403D;
}

.footer-background > p {
    padding-top: 5px;
    padding-left: 10px;
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
}

.sokial-networks  {
    position: relative;
}

.sokial-networks p {
    display: inline-block;
    position: relative;
    margin-right: 0;
    left: 190px;
    font-size: 20px;
    margin-top: 15px;
}

.sokial-networks img {
    position: relative;
    width: 25px;
    top: 40px;
    left: 20px;
}

.sokial-networks img:hover {
    background: linear-gradient(to bottom, #1345e6 0%, #ed239f 100%);
    border-radius: 50%;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.sokial-networks-2 p {
    margin-left: 10px;
}